/* this green is approx what is in the logo (taken from image picker) */
/* GENERAL UTILS
   ----------------------------------------------------------------------- */
.flip {
  filter: FlipH;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH"; }

/* BASIC STYLES
   ----------------------------------------------------------------------- */
body {
  margin: 0;
  padding-top: 50px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  background-color: white;
  color: #393939; }

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 0.75em 0;
  line-height: 1.4em; }

form {
  padding: 0;
  margin: 0; }

img {
  border: 0; }

a, a:focus {
  color: #483;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #6db34b; }

.dropdown-menu > li > a {
  font-weight: 300; }

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: none;
  font-weight: 300; }

.btn-default {
  color: #666; }

.panel-heading h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  margin-top: 0px; }

.panel-body {
  margin: 0px;
  font-size: 95%;
  color: #666;
  padding: 15px;
  background-color: #fafafa;
  border-radius: 5px; }
  .panel-body p:first-child {
    margin-top: 0px; }
  .panel-body p:last-child {
    margin-bottom: 0px; }
  .panel-body > ul, .panel-body > ol {
    margin-left: -1em; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 1px solid #ddd; }

td, th {
  border: 1px solid #ccc;
  padding: 5px; }

.navbar-brand .brand-apache {
  position: relative; }
  .navbar-brand .brand-apache > img {
    transform: rotate(-125deg);
    height: 100px;
    position: absolute;
    top: -45px;
    left: 35px; }

.navbar-brand .brand-brooklyn > img {
  padding-left: 125px;
  margin-top: -4px; }

abbr.glossarizer_replaced {
  border-bottom: 1px dashed;
  font-style: italic; }
  abbr.glossarizer_replaced:before {
    font-family: FontAwesome;
    content: "\f045";
    padding-right: 5px; }

/* TOOLTIPS
   ----------------------------------------------------------------------- */
.tooltip .tooltip-inner {
  color: #393939;
  background-color: #ddd;
  font-weight: 500; }

.tooltip.top .tooltip-arrow {
  border-top-color: #ddd; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ddd; }

/* CODE RENDERING
   ----------------------------------------------------------------------- */
pre {
  font-family: Consolas, Lucida Console, Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  font-size: 80%;
  /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
  color: #393939;
  background-color: #f5f5f5;
  padding: 0.4em 0.8em;
  overflow-x: scroll;
  /* override border and line-height on 'pre' from bootstrap */
  border: none;
  border-radius: 2px;
  line-height: 1.4;
  font-size: 13px; }
  pre code {
    /* override settings on 'pre code' from bootstrap */
    font-family: Consolas, Lucida Console, Monaco, monospace;
    white-space: pre;
    word-wrap: normal;
    overflow-y: scroll;
    font-size: 80%;
    /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
    color: #393939;
    background-color: #f5f5f5;
    padding: 0.4em 0.8em;
    overflow-x: scroll;
    /* override border and line-height on 'pre' from bootstrap */
    border: none;
    border-radius: 2px;
    line-height: 1.4;
    font-size: 13px;
    line-height: 1;
    /** and no padding since pre already has some */
    padding: 0px; }

code {
  font-family: Consolas, Lucida Console, Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  font-size: 80%;
  /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
  color: #393939;
  background-color: #f5f5f5;
  padding: 4px 4px 2px 4px;
  border-radius: 3px; }

a code {
  color: inherit; }

.nowrap {
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll; }

.highlight {
  background-color: #f5f5f5; }

/* clipboard icon should have the same background color as the code */
.highlight .clipboard_button {
  display: none; }

.highlight:hover .clipboard_button {
  display: inherit; }

.clipboard_button.zeroclipboard-is-hover {
  display: inherit; }

.clipboard_container {
  float: right;
  padding: 8px; }

.clipboard_button:before {
  content: "\f0c5"; }

.clipboard_button {
  font-size: 18px;
  color: #483;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px); }

.clipboard_button:hover, .clipboard_button.zeroclipboard-is-hover {
  color: #6db34b;
  cursor: pointer;
  cursor: hand; }

.clipboard_button.zeroclipboard-is-active .on-active {
  display: inherit; }

.clipboard_button.manual-clipboard-is-active .on-active {
  display: inherit; }

.clipboard_button .on-active {
  z-index: 10;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
  margin-top: -20px;
  height: 0;
  width: 0;
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
  top: -30px; }

.clipboard_button .on-active > div {
  background-color: #ddd;
  border: 1px solid #aaa;
  font-size: 75%;
  font-weight: normal;
  left: -50%;
  color: #393939;
  width: auto;
  display: inline-block;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  padding: 3px 7px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

span.bash_prompt {
  color: #bb60d5;
  font-weight: bold; }

.nocopy {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

/* WEBSITE MENUS
   ----------------------------------------------------------------------- */
/* pop-up top-menu */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
  color: #6db34b;
  background-image: none; }

/* side menu */
.side-menu {
  font-family: Avenir, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  /* further crumbs all get the same */ }
  .side-menu h4.with_following {
    margin-bottom: 0; }
  .side-menu h4.with_preceding {
    margin-top: 0; }
  .side-menu h4.with_following a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom: 0; }
  .side-menu h4.with_preceding a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0; }
  .side-menu a, .side-menu a.breadcrumb.breadcrumb0 {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 6px; }
  .side-menu a.breadcrumb.breadcrumb1 {
    padding-left: 30px; }
  .side-menu a.breadcrumb.breadcrumb2 {
    padding-left: 45px; }
  .side-menu a.breadcrumb.breadcrumb3 {
    padding-left: 60px; }
  .side-menu a.breadcrumb {
    padding-left: 70px; }
  .side-menu div.sub-item {
    background-color: #48a648;
    border-left: 1px solid #428bca; }
  .side-menu div.sub-item:last-child {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .side-menu div.sub-item:last-child a.sub-item:last-child {
    border-bottom-right-radius: 4px !important; }
  .side-menu a.with-sub-item {
    /* border-bottom: 1px solid $white_dd; */
    border-bottom: 0; }
  .side-menu a.sub-item {
    border-radius: 0 !important;
    border-bottom: 0;
    margin-left: 12px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .side-menu a.sub-item.list-group-item.active {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
    border-color: #ddd;
    color: #393939;
    text-shadow: none;
    margin-bottom: 0;
    padding-bottom: 7px; }
  .side-menu a.sub-item.list-group-item.active:hover {
    color: #6db34b; }

/* SEARCH
   ----------------------------------------------------------------------- */
div.search_right {
  float: right;
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px);
  padding-right: 5%;
  padding-bottom: 18px;
  font-size: 75%; }
  div.search_right .searchform {
    width: 240px;
    margin: 0;
    padding: 5px 5px 0 0;
    overflow: hidden;
    text-align: right; }
  div.search_right .searchinput {
    width: 227px;
    background: #ffffff;
    border: 1px solid #b1b7c2;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #c8ccd5;
    padding: 3px; }
  div.search_right .searchinput:focus {
    color: #393939; }

/* FOOTER
   ----------------------------------------------------------------------- */
/* sticky footer */
html main {
  min-height: calc(100vh - 50px - 3.5em); }
html footer {
  height: 3.5em;
  border-top: 1px solid #eee; }
  html footer p {
    height: 2em; }
  html footer .octicon-footer {
    color: #888;
    font-size: 130%;
    position: relative;
    top: 2px;
    padding-left: 6px; }
  html footer a:hover .octicon-footer {
    color: #6db34b; }

.page .content {
  padding-bottom: 48px; }
  .page .content img {
    max-width: 100%; }
  .page .content h1 {
    max-width: 95%;
    font-variant: normal;
    margin-top: -16px;
    padding-bottom: 6px;
    margin-top: 64px;
    margin-bottom: 24px;
    border-bottom: 1px dotted #aaa;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase; }

/* HEADER LINKS 
   ----------------------------------------------------------------------- */
h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 8px; }

h5 {
  font-size: 18px;
  font-weight: 300; }

h6 {
  font-size: 16px; }

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  /* not using -- but this is cool!
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
  */ }

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1; }

a.header-literal-anchor {
  display: inline !important; }

/* ARCHIVE PAGE WARNING
   ----------------------------------------------------------------------- */
#page_notes {
  display: none;
  background-color: #4D9D3A;
  border: 3px solid orange;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 0.3em;
  padding-left: 0.75em;
  margin-top: 24px;
  margin-bottom: -24px; }
  #page_notes div.warning {
    background-color: #F8CB9C;
    border: 1px solid #FFAB7C;
    padding-left: 0.75em;
    -moz-border-radius: 8px;
    border-radius: 8px; }
  #page_notes .warning_banner_image img {
    width: 64px;
    padding-top: 8px;
    padding-right: 12px;
    float: left; }
  #page_notes p {
    line-height: 100%;
    color: white; }
  #page_notes p.warning_banner_buttons {
    padding-right: 24px; }
  #page_notes p.warning_banner_buttons a, #page_notes #page_notes p.warning_banner_buttons a:visited {
    color: orange;
    font-weight: bold;
    padding-right: 1em;
    text-decoration: none; }
  #page_notes p.warning_banner_buttons a:hover {
    color: #FFC31E;
    font-weight: bold; }

/* LANDING PAGE
   ----------------------------------------------------------------------- */
.home .navbar-brand .brand-apache > img {
  height: 200px;
  top: -80px; }
.home .hero {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23eeeeee' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  overflow: hidden;
  padding: 100px 0 30px 0; }
.home .hero h1 {
  font-family: "Arial Rounded MT Bold", Avenir, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em; }
  .home .hero h1 .text-apache {
    color: #808285; }
  .home .hero h1 .text-brooklyn {
    color: #6db34b; }
.home .hero p {
  margin-top: 3em;
  margin-bottom: 3em; }
.home .about, .home .social {
  margin-top: 50px;
  margin-bottom: 50px; }
  .home .about h3.use, .home .social h3.use {
    margin-top: 3em;
    margin-bottom: 2em; }
.home .get-started {
  margin-bottom: 0; }
.home .shell {
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow: hidden; }
  .home .shell .shell-toolbar {
    border-bottom: 1px solid #f1f1f1;
    padding: 0 4px;
    overflow: hidden; }
    .home .shell .shell-toolbar i {
      background: #f00;
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 100px;
      float: left;
      margin: 8px;
      margin-right: 0; }
      .home .shell .shell-toolbar i.red {
        background: #ff5f57; }
      .home .shell .shell-toolbar i.yellow {
        background: #ffbd2e; }
      .home .shell .shell-toolbar i.green {
        background: #2ace42; }
    .home .shell .shell-toolbar span {
      text-align: center;
      max-width: 150px;
      margin: auto;
      display: block;
      font-family: Arial;
      margin-top: 6px;
      font-size: 12px;
      color: #999; }
  .home .shell .highlight {
    background-color: transparent; }
  .home .shell pre {
    background-color: #000;
    padding: 5px 10px;
    color: #f1f1f1;
    margin: 0; }
    .home .shell pre code.language-bash {
      color: inherit;
      background: transparent; }
.home .social a {
  color: inherit;
  transition: color 0.3s ease; }
  .home .social a:hover {
    color: #6db34b; }

/* YAML EXPLAINED
   ----------------------------------------------------------------------- */
div.annotated_blueprint {
  margin-top: 60px; }
  div.annotated_blueprint div.code_scroller {
    background-color: #f5f5f5;
    border: 0.4em solid #666;
    border-left: 0;
    border-right: 0;
    border-radius: 3px;
    width: 57%;
    margin-right: 0px;
    margin-left: auto;
    background-color: #666;
    color: #ddd;
    overflow-x: scroll; }
    div.annotated_blueprint div.code_scroller div {
      overflow-x: visible !important;
      overflow-y: visible !important; }
    div.annotated_blueprint div.code_scroller div.code_viewer {
      width: auto;
      height: 100%; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-align-items: center;
        align-items: center;
        z-index: -10; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block > div:last-child {
        font-family: Consolas, Lucida Console, Monaco, monospace;
        white-space: pre;
        word-wrap: normal;
        overflow-y: scroll;
        font-size: 80%;
        /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
        color: #393939;
        background-color: #f5f5f5;
        padding: 0.4em 0.8em;
        overflow-x: scroll;
        /* override border and line-height on 'pre' from bootstrap */
        border: none;
        border-radius: 2px;
        line-height: 1.4;
        font-size: 13px;
        border: 0;
        border-radius: 0;
        padding: 0px 0.6em;
        background-color: #666;
        color: #ddd;
        min-width: 100%;
        margin-top: 3px;
        margin-bottom: 3px; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 {
          position: absolute;
          -webkit-transform: translateX(-100%) translateY(-50%);
          -moz-transform: translateX(-100%) translateY(-50%);
          -o-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
          width: 41%;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          -webkit-align-items: center;
          align-items: center; }
          div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations {
            height: auto;
            width: 100%;
            padding: 8px 8px;
            padding-bottom: 11px;
            color: #393939; }
            div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations div.short {
              font-size: 125%;
              text-align: right; }
            div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations div.long {
              display: none;
              font-size: 85%; }
              div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations div.long p {
                margin: 8px 0 8px 0; }
              div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations div.long p:first-child {
                margin-top: 0; }
              div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.annotations div.long p:last-child {
                margin-bottom: 0; }
          div.annotated_blueprint div.code_scroller div.code_viewer div.block > div.annotations_wrapper1 div.annotations_wrapper2 div.connector {
            height: 7px;
            width: 48px; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover > div:last-child {
        background-color: #48a648;
        color: #fafafa; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover {
        z-index: 30 !important; }
        div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover div.annotations_wrapper1 {
          z-index: 30 !important; }
        div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover div.annotations {
          background-color: #fafafa;
          border: 4px solid #48a648;
          border-radius: 8px;
          text-align: center;
          box-shadow: 2px 10px 20px #aaa; }
          div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover div.annotations div.short {
            font-size: 100% !important;
            text-align: center !important;
            color: #393939;
            margin-bottom: 8px;
            font-weight: normal;
            z-index: 10; }
          div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover div.annotations div.long {
            display: inherit !important; }
        div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover div.connector {
          border-style: solid;
          width: 16px !important;
          border-width: 5px 0px 5px 6px;
          border-style: solid;
          border-color: transparent transparent transparent #48a648; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block > div:last-child .ann_highlight {
        font-weight: bold;
        color: #e8f0e0; }
      div.annotated_blueprint div.code_scroller div.code_viewer div.block:hover > div:last-child .ann_highlight {
        color: #f8fff8; }
  div.annotated_blueprint div.code_viewer:hover div.annotations div.short {
    color: #aaa; }
  div.annotated_blueprint div.code_scroller div.initial_notice {
    height: 0;
    width: 0;
    overflow-x: visible;
    overflow-y: visible; }
  div.annotated_blueprint div.code_scroller div.initial_notice > div {
    z-index: 10;
    background-color: rgba(170, 170, 170, 0.9);
    position: relative;
    width: 0;
    height: 0;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: top;
    align-items: top; }
  div.annotated_blueprint div.code_scroller div.initial_notice > div > div {
    padding-top: 24px;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    width: 100%; }
    div.annotated_blueprint div.code_scroller div.initial_notice > div > div .ann_light {
      padding-top: 12px;
      font-weight: 300; }
    div.annotated_blueprint div.code_scroller div.initial_notice > div > div .ann_play {
      display: block;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 600%; }
  div.annotated_blueprint div.code_scroller:hover div.initial_notice {
    display: none; }

.page .content .feature-list h3 {
  border: 1px solid #ddd;
  margin-top: 48px;
  padding: 20px 12px 12px 12px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x; }
.page .content .feature-item {
  padding-bottom: 24px;
  margin-bottom: 12px;
  font-size: 90%;
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-bottom: 0;
  font-size: 90%;
  padding: 12px;
  padding-top: 8px;
  background-color: #fafafa; }
  .page .content .feature-item p {
    margin-top: 6px;
    margin-bottom: 0; }
  .page .content .feature-item p:first-child {
    margin-top: 0px; }
  .page .content .feature-item img {
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 2px; }
  .page .content .feature-item div.feature-title {
    width: 27%;
    float: left;
    font-weight: 500; }
  .page .content .feature-item div.feature-body {
    width: 70%;
    margin-left: 30%; }
  .page .content .feature-item div.feature-image {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px; }
